<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Gabmap - Userpage account</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
  </head>
<body>

<div class="pguser">

Welcome {0[username]}

<h2>Your projects</h2>

{0[projects]}

<h3>Create a new project</h3>

You have reach the maximum of {0[count]} projects per user.
<p>
If you want to create a new project, please remove one of your old projects first.{0[helpremove]}
</div>

</body>
</html>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
coding:utf-8
sgml-declaration:"HTML4.01/HTML4.decl"
sgml-omittag:t
sgml-shorttag:nil
End:
-->
