<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Gabmap - Userpage account</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
  </head>
<body>

<div class="pguser">

Welcome {0[username]}

<h2>Your projects</h2>

{0[projects]}

<p>
You cannot create your own project in this demo account.
<p>
But feel free to play with the two projects we set up for you.
<p>
<b><big>&rarr; <a href="account?action=logout">Exit demo</a></big></b>


</div>

</body>
</html>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
coding:utf-8
sgml-declaration:"HTML4.01/HTML4.decl"
sgml-omittag:t
sgml-shorttag:nil
End:
-->
